.items_section{
    display: flexbox;
    flex-direction: row;
    
}

.item{
    display: inline-block;
    width: 355px;
    height: 380px;
    background: white;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 5px;
    border-width: 2px;
    border-style: double;
}