.nav_header{
    
    background: rgb(233, 232, 232);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
}


body{
    background-color: white;
}

.banner{
    margin: 0 10px;
}

.info_header{
    height: 40px;
    width: 100%;
    margin-top: 80px;
    background: #f7f6f6;
    display: flexbox;
    flex-direction: row;
    
    
}


.info_header p{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
padding-top: 10px;
}

.info_header h5{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 10px;
    }

.info_header img{
    height: 40px;
    width: 50px;
    margin-left: 420px;
    
}


footer{
    background: black;
    color: white; 
    height: 400px;
    padding: 20px; 
    margin-top: 15px;
}

.card-body{
    color: black;
}

.img-fluid{
    height: 180px;
    width: 200px;
}


body{
    margin: 0;
    background: white;
    padding: 0;

}

.nav_links{
    display: flex;
    flex-direction: row;
    
}

.nav_links li a{
    transition: all 0.3ms ease 0;
    margin: 0 20px 0 0;
    
}

li a{ 
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    
}

.nav_links ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    
}
 

.nav_links li a:hover{
    color: gold;
}




.btn_login{
    padding: 9px 10px;
    background-color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
    font-size: 12px;
    color: gray;
    width: 85px;
    height: 35px;
}

.btn_login:hover{
    color: gold;
}

.logo{
    width: 250px;
    height: 80px;
    
}

.logo h2 a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    
}

.section_one{
    height: 1030px;
}

.first_line{
    display: flex;
    flex-direction: row;
    height: 500px;
    
}

.first_line div{
    margin: 0 15px;
    width: 350px;
    height: 400px;
    background: rgb(233, 232, 232);
    margin-top: 20px;
    margin-left: 60px;
}

.section_three .description{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.first_line img{
    width: 350px;
    height: 350px;
    padding: 20px 20px;
}

.first_line strong a{
padding-left: 15px;
list-style-type: none;
text-decoration: none;
color: black;
}

.section_two{
    background-color: black;
    margin: 15px 10px;
    text-align: center;
    height: 80px;
    padding-top: 10px;
    color: gold;
    font-family: Arial, Helvetica, sans-serif;
}

.section_one_living{
    height: 520px;
}

.carousel-inner img{
    height: 520px;
}

.first_line .img_mid{
    margin-top: 100px;
}

.second_line{
    display: flex;
    flex-direction: row;
    height: 500px;
}

.second_line div{
    margin: 0 15px;
    width: 350px;
    height: 400px;
    background: rgb(233, 232, 232);
    margin-top: 20px;
    margin-left: 60px;
}

.second_line img{
    width: 350px;
    height: 350px;
    padding: 20px 20px;
}

.second_line strong a{
padding-left: 15px;
list-style-type: none;
text-decoration: none;
color: black;
}

.second_line .img_sec_mid{
    margin-top: 110px;
}

.first_line_living{
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-left: 10px;
}

.first_line_living div{
    margin: 0 15px;
    width: 150px;
    height: 200px;
    background: rgb(233, 232, 232);
    margin-top: 20px;
    margin-left: 60px;
}

.first_line_living img{
    width: 150px;
    height: 150px;
    padding: 10px 10px;
}

.first_line_living strong a{
padding-left: 15px;
list-style-type: none;
text-decoration: none;
color: black;
}

.section_two_living{
    height: 450px;
    background: white;
    display: flex;
    flex-direction: row;
}

.side_menu strong{
padding-left: 100px;
font-family: Arial, Helvetica, sans-serif;
padding-top: 10px;
font-size: 20px;
}

.list-group{
    width: 300px;
    margin-top: 5px;

}

.list-group button{
    height: 50px;
    border-radius: 10px;
    border-color: black;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.first_line_living{
    display: flex;
    flex-direction: row;
    height: 500px;
}

.first_line_living div{
    margin: 0 15px;
    width: 330px;
    height: 390px;
    background: rgb(233, 232, 232);
    margin-top: 10px;
    margin-left: 5px;
}

.first_line_living img{
    width: 320px;
    height: 330px;
    padding: 20px 20px;
}

.first_line_living a{
padding-left: 15px;
list-style-type: none;
text-decoration: none;
color: black;
}

.first_line_living strong{
    padding-left: 20px;
}

.section_three_living{
    height: 820px;
    background: white;
}

.section_three_living .our_furniture{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 20px;
    font-size: 18px;
}

.items_section{
    display: flex;
    flex-direction: row;
}

.item{
    width: 355px;
    height: 380px;
    background: rgb(233, 232, 232);
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.item_img{
    width: 253px;
    height: 250px;
    margin-top: 20px;
    margin-left: 45px;
}

.section_three_living .description{
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.price{
    float: left;
    margin-left: 40px;
}

.price .btn_addcart{
    background: white;
    color: black;
    border-color: black;
    border-radius: 10px;
    font-size: 13px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: dotted;
}

.price .btn_now{
    background-color: black;
    color: white;
    border-radius: 16px;
    border: none;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
}

.btn_now:hover{
    color: gold;
}



.my_bedroom{
    color: aqua;
}

.section_four_living{
    background-color: rgb(233, 232, 232);
    margin: 15px 10px;
    text-align: center;
    height: 80px;
    padding-top: 10px;

}

.menu_navs ul{
    list-style-type: none;
    text-decoration: none;
}

/* section one bedroom*/


.first_line_bedroom{
    display: flex;
    flex-direction: row;
    height: 400px;
    margin-left: 10px;
}

.first_line_bedroom div{
    margin: 0 15px;
    width: 260px;
    height: 300px;
    background: white;
    margin-top: 20px;
    margin-left: 60px;
}

.first_line_bedroom img{
    width: 320px;
    height: 310px;
    padding: 10px 10px;
}

.first_line_bedroom strong a{
padding-left: 15px;
list-style-type: none;
text-decoration: none;
color: black;
}

/*section 2 bedroom*/






