{% extends 'main.html' %}

{% block content %}

<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>index</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        
        <header class="banner">
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{% static 'img/finds.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/COUCH.jpeg' %}" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{% static 'img/seat.jpg' %}" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </header>  

        <section class="section_one">
            <div class="first_line">
                <div><a><img src="{% static 'img/seat.jpg' %}" alt=""></a><br/>
                    <strong><a href="{% url "living" %}">Living Room</a></strong>
                    </div>
        
                    <div class="img_mid"><a><img src="{% static 'img/bed.jpg' %}" alt=""></a><br/>
                        <strong><a href="{% url "bedroom"%}">Bedroom</a></strong>
                    </div>
        
                    <div><a><img src="{% static 'img/dining.jpg' %}" alt=""></a><br/>
                        <strong><a href="{% url "kitchen_dining"%}">Kitchen and Dining</a></strong>
                    </div>
            </div>

            <div class="second_line">
                <div class="img_next"><a><img src="{% static 'img/outdoor_seat.jpg' %}" alt=""></a><br/>
                    <strong><a href="{% url "Outdoor"%}">Outdoor</a></strong>
                </div>

                <div class="img_sec_mid"><a><img src="{% static 'img/COUCH.jpeg' %}" alt=""></a><br/>
                    <strong><a href="{% url "homeoffice"%}">Home Office</a></strong>
                </div>

                <div><a><img src="{% static 'img/IMG_20210327_173859_504.jpg' %}" alt=""></a><br/>
                    <strong>Cut Prices</strong>
                </div>


            </div>
        </section>
        <section class="section_two">
          <div>
              <h5>Get amaizing offers on furniture</h5>
              <p>Keep shopping at foreverfinnds and stand a chance to get quality products with irresitable offers</p>
          </div>
      </section>

      <section class="section_three">
        <div class="items_section">
          <div class="item">
              <div>
                  <a><img  class="item_img" src="{% static 'img/seat.jpg' %}" alt=""></a>
              </div><br/>

              <div class="description">
                  <strong>3 Seater Leather Sofa</strong>
              </div>

              <div class="price">
                  <span class="before">Ksh.84,000</span>
                  <button class="btn_addcart">Add to Cart</button>
                  <button class="btn_now">Buy Now</button>
          
              </div>
          </div>

          <div class="item">
              <div>
                  <a><img  class="item_img" src="{% static 'img/seat.jpg' %}" alt=""></a>
              </div><br/>

              <div class="description">
                  <strong>5 Seater woolen Sofa</strong>
              </div>

              <div class="price">
                  <span class="before">Ksh.58,000</span>
                  <button class="btn_addcart">Add to Cart</button>
                  <button class="btn_now">Buy Now</button>
          
              </div>
          </div>

          <div class="item">
              <div>
                  <a><img  class="item_img" src="{% static 'img/seat.jpg' %}" alt=""></a>
              </div><br/>

              <div class="description">
                  <strong>3 Family Couch</strong>
              </div>

              <div class="price">
                  <span class="before">Ksh.36,000</span>
                  <button class="btn_addcart">Add to Cart</button>
                  <button class="btn_now">Buy Now</button>
          
              </div>
          </div>

          <div class="item">
              <div>
                  <a><img  class="item_img" src="{% static 'img/seat.jpg' %}" alt=""></a>
              </div><br/>

              <div class="description">
                  <strong>L-Couch 3 Seater Sofa</strong>
              </div>

              <div class="price">
                  <span class="before">Ksh.43,000</span>
                  <button class="btn_addcart">Add to Cart</button>
                  <button class="btn_now">Buy Now</button>
          
              </div>
          </div>
        </div>  
      </section>
        
        <footer>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{% static 'img/finds.jpg' %}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Card title</h5>
                      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                      <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="menu_navs">
                <div>
                    <ul>
                        <strong><li><a href="{% url 'living' %}">Living Room</a></li></strong>
                        <strong><li><a href="{% url "bedroom"%}">Bedroom</a></li></strong>
                        <strong><li><a href="{% url "homeoffice"%}">Home Office</a></li></strong>
                        <strong><li><a href="{% url "kitchen_dining"%}">Kitchen And Dining Room</a></li></strong>
                        <strong><li><a href="{% url "Outdoor"%}">Outdoor</a></li></strong>
                        <strong><li><a href="{% url "contact"%}">Contact Us</a></li></strong>
                    </ul>

                </div>

              </div>
        </footer>
    
    </body>
</html>



{% endblock %}